@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  corbado-auth {
    /* --primary-color: #1953ff;
    --primary-color-rgb: 25, 83, 255;
    --primary-background-color: #1953ff;
    --primary-hover-color: #1145df;

    

    --secondary-background-hover-color: transparent;
    --secondary-border-hover-color: #59acff;
    --secondary-font-hover-color: #59acff;
    --heading-color: #fff;
    --text-color: #d0d9f5;
    --text-disabled-color: #999;
    --light-color: #59acff;
    --error-color: #ff4c51;
    
    --email-provider-btn-color: rgba(143, 155, 191, 0.5); */

    /* --primary-font: "Space Grotesk", sans-serif;
    --secondary-font: "Inter", sans-serif; */

    /* --secondary-font-color: #59acff;
    --secondary-background-color: transparent;
    --secondary-border-color: #59acff; */

    --border-color: var(--border);
    --border-radius: var(--radius);
    --border-container-width: 0;
    --text-align: left;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html,
  body {
    @apply h-full;
  }
}
